<a href="https://colab.research.google.com/github/r3p1s1/DIO/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Bibliotecas importadas
import pandas as pd

In [18]:
df = pd.read_csv('/content/drive/MyDrive/datasets/Gapminder.csv', error_bad_lines=False, sep=';')

In [19]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [26]:
df = df.rename(columns={'coutry':'Pais','continent':'Continente','year':'Ano','lifeExp':'Expectativa de vida','gdpPercap':'PIB'})

In [27]:
df['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [36]:
Americas = df.loc[df['Continente']=='Americas']
Americas.head()

      country Continente   Ano  Expectativa de vida       pop          PIB
48  Argentina   Americas  1952               62.485  17876956  5911.315053
49  Argentina   Americas  1957               64.399  19610538  6856.856212
50  Argentina   Americas  1962               65.142  21283783  7133.166023
51  Argentina   Americas  1967               65.634  22934225  8052.953021
52  Argentina   Americas  1972               67.065  24779799  9443.038526

In [41]:
df.describe

<bound method NDFrame.describe of           country Continente   Ano  Expectativa de vida       pop         PIB
0     Afghanistan       Asia  1952               28.801   8425333  779.445314
1     Afghanistan       Asia  1957               30.332   9240934  820.853030
2     Afghanistan       Asia  1962               31.997  10267083  853.100710
3     Afghanistan       Asia  1967               34.020  11537966  836.197138
4     Afghanistan       Asia  1972               36.088  13079460  739.981106
...           ...        ...   ...                  ...       ...         ...
3307     Zimbabwe     Africa  1987               62.351   9216418  706.157306
3308     Zimbabwe     Africa  1992               60.377  10704340  693.420786
3309     Zimbabwe     Africa  1997               46.809  11404948  792.449960
3310     Zimbabwe     Africa  2002               39.989  11926563  672.038623
3311     Zimbabwe     Africa  2007               43.487  12311143  469.709298

[3312 rows x 6 columns]>